.community {
    padding: 80px 20px;
    background-color: #fdfaf7;
    text-align: center;
}

.community__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.community__card {
    background: #2b2520;
    padding: 45px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(165, 129, 58, 0.2);
    transition: transform 0.3s ease;
}

.community__card:hover {
    transform: translateY(-5px);
}

.community__icon-box {
    color: #a5813a;
    /* Dorado Cuyo */
    margin-bottom: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community__svg {
    width: 100%;
    height: 100%;
}

.community__card h3 {
    color: #fdfaf7;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: 700;
}

.community__card p {
    color: #fdfaf7;
    opacity: 0.8;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 0.95rem;
    min-height: 48px;
    /* Para que las tarjetas midan lo mismo si el texto varía un poco */
}

.community__btn {
    background-color: #a5813a;
    color: #2b2520;
    padding: 14px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: 0.3s;
    display: inline-block;
}

.community__btn:hover {
    background-color: #fdfaf7;
    transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .community__grid {
        grid-template-columns: 1fr;
    }
}