/* src/components/Navbar/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #1a1614;
  /* Marrón Mafia */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  z-index: 1000;
  border-bottom: 1px solid rgba(165, 129, 58, 0.2);
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.navbar__logo {
  height: 55px;
  width: auto;
  transition: transform 0.3s;
}

.navbar__brand-text {
  color: #fdfaf7;
  /* Blanco Hueso */
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.navbar__menu {
  display: flex;
  gap: 35px;
  list-style: none;
}

.navbar__link {
  color: #fdfaf7;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: color 0.3s;
}

.navbar__link:hover {
  color: #a5813a;
}

.navbar__cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fdfaf7;
  transition: transform 0.3s ease;
  padding: 10px;
}

.navbar__cart-container:hover {
  transform: scale(1.1);
  color: #a5813a;
}

.cart-icon-main {
  font-size: 32px !important;
  cursor: pointer;
}

.cart-badge-premium {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a5813a;
  color: #1a1614;
  font-size: 11px;
  font-weight: 800;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #1a1614;
}

/* MÓVIL */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
    height: 70px;
  }

  .navbar__brand-text {
    display: none;
    /* Ocultamos texto en móvil para que entre todo */
  }

  .navbar__menu {
    display: none;
  }

  .cart-icon-main {
    font-size: 28px !important;
  }
}